h1 {
    color: #ffb005;
    font-size: large;
    font-weight: bold;
  }
  h3 {
    font-size: small;
  }
  
 
  .rating {
    color: #d1cea0;
    font-size: small;
    font-weight: bold;
  }
  
  .run {
    color: #9aff57;
    font-style: italic;
    font-weight: bold;
    padding-top: 5px;
    font-size: small;
  }
  
  .ended {
    color: #ff5757;
    font-style: italic;
    font-weight: bold;
    padding-top: 5px;
    font-size: small;
  }
  .inDev {
    color: #f4ff61;
    font-style: italic;
    font-weight: bold;
    padding-top: 5px;
    font-size: small;
  }
  
  .otherStatus {
    color: #929292;
    font-style: italic;
    font-weight: bold;
    padding-top: 5px;
    font-size: small;
  }