.headingText {
  text-align: center;
  padding-left: 20px;
  color: #fff351;
  font-size: x-large !important;
  font-weight: bold;
}

.subtitleText {
  text-align: justify;
  padding-left: 20px;
  color: #929292;
  font-style: italic;
  font-size: medium;
  margin-top: 5px !important;
}

.seasonNoInCard {
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: #ffffffc4;
  font-size: large;
  font-weight: bold;
  color: #000000;
  padding: 4px;
}

.summary {
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  font-size: medium;
  color: #bbbbbb;
}

.topImage {
  width: 100%;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
}

.barSubtitle {
  font-size: medium;
  font-weight: bold;
}

.genre{
  border: 2px solid #424242;
  display: inline; 
  padding: 2px; 
  padding-left: 10px; 
  padding-right: 10px; 
  color: #444444; 
  font-size: smaller;

}
