<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" style="color: #ffb005;"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Details on {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <img *ngIf="img == null" class="topImage" src="../../../assets/images/background.jpg">
  <img *ngIf="img != null" class="topImage" [src]="img" />

  <div style="width: 100%; height: 70px;">
    <ion-slides [options]="slidesConfig">
      <ion-slide style="display: grid;">
        <div style="padding-top: 15px; color: rgb(190, 190, 190);">
          Year
        </div>
        <div class="barSubtitle">{{premiered}}</div>
      </ion-slide>
      <ion-slide style="display: grid;">
        <div style="padding-top: 15px; color: rgb(190, 190, 190);">
          Network
        </div>
        <div class="barSubtitle">{{network}}</div>
      </ion-slide>
      <ion-slide style="display: grid;">
        <div style="padding-top: 15px; color: rgb(190, 190, 190);">
          Status
        </div>
        <div *ngIf="status == 'Running'" class="barSubtitle" style="color: rgb(102, 226, 102); font-weight: bold;">
          {{status}}
        </div>
        <div *ngIf="status == 'Ended'" class="barSubtitle" style="color: rgb(209, 52, 52); font-weight: bold;">
          {{status}}
        </div>
        <div *ngIf="status == 'To Be Determined'" class="barSubtitle"
          style="color: rgb(97, 97, 97); font-weight: normal;">
          TBD
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div button>
    <h2 class="headingText">
      Summary
    </h2>
    <h6 class="summary">
      <p (click)="moreDetails()" style="text-align: center;">{{summary}}</p>
      <br /><br />
    </h6>
  </div>

  <div>
    <div class="headingText">Seasons Details</div>
    <div class="subtitleText" style="text-align: center;">
      Total Seasons: {{numberOfSeasons}}
    </div>
    <div>
      <ion-slides [options]="sliderConfig">
        <ion-slide *ngFor="let item of seasons">
          <ion-card button (click)="openNextPage($event, item)">
            <div class="seasonNoInCard">
              Season {{item.number}}
            </div>
            <!-- <ion-card-content> -->
            <!--Replace if season image doesn't exist-->
            <div *ngIf="item.image == null">
              <img [src]="img" />
            </div>
            <!--Original season image-->
            <div *ngIf="item.image != null">
              <div style=" z-index: 2; background-color: rgba(250, 235, 215, 0.856); ">
                <img />
              </div>
              <img style="min-width: 150px; padding: 0;" [src]="item.image.medium" />
            </div>
            <!-- </ion-card-content> -->
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>

    <!-- Cast Information Part -->
    <ion-text>
      <h2 class="headingText">
        Cast Information
      </h2>
    </ion-text>

    <!--If Cast info is present-->
    <div *ngIf="castDetails != null">
      <ion-list>
        <ion-item button *ngFor="let item of castDetails">
          <ion-avatar>
            <img [src]="item.person.image.medium" />
          </ion-avatar>
          <ion-label style="padding-left: 15px;">
            <h2>{{item.person.name}}</h2>
            <h3 style="color: #707070; font-size: small; font-weight: bold;">
              {{item.character.name}}
            </h3>
          </ion-label>
        </ion-item>
        <ion-item button (click)=allCastList()>
          <ion-label color="primary" style="padding-left: 30px;">See full cast</ion-label>
        </ion-item>
      </ion-list>
    </div>

    <!--If Cast info is absent-->
    <div *ngIf="castDetails == ''">
      <h3 class="subtitleText">No Cast Details Available</h3>
    </div>
  </div>
</ion-content>