<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon
      slot="start"
      name="chevron-back-outline"
      (click)="CloseModal()"
    ></ion-icon>
    <ion-title>
      Details on {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>

      <!-- <ion-button slot="end" fill="clear" color="danger" shape="box">
        <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
      </ion-button> -->
    </ion-toolbar>
  </ion-header>

  <ion-text>
    <h2 class="headingText">
      Summary
    </h2>
    <h6 class="summary">
      {{summary}} <br />
      <br />
    </h6>
  </ion-text>

  <div>
    <div class="headingText">Seasons Details</div>
    <div>
      <div class="subtitleText">Total Seasons: {{numberOfSeasons}}</div>
      <ion-slides [options]="sliderConfig">
        <ion-slide *ngFor="let item of seasons">
          <ion-card button (click)="openEpisodeList($event, item)">
            <div class="seasonNoInCard">
              Season {{item.number}}
            </div>
            <!-- <ion-card-content> -->
            <!--Replace if season image doesn't exist-->
            <div *ngIf="item.image == null">
              <img [src]="img" />
            </div>
            <!--Original season image-->
            <div *ngIf="item.image != null">
              <img
                style="min-width: 150px; padding: 0;"
                [src]="item.image.medium"
              />
            </div>
            <!-- </ion-card-content> -->
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>

    <!-- Cast Information Part -->
    <ion-text>
      <h2 class="headingText">
        Cast Information
      </h2>
    </ion-text>

    <!--If Cast info is present-->
    <div *ngIf="castDetails != null">
      <ion-list>
        <ion-item button *ngFor="let item of castDetails">
          <ion-avatar>
            <img [src]="item.person.image.medium" />
          </ion-avatar>
          <ion-label style="padding-left: 15px;">
            <h2>{{item.person.name}}</h2>
            <h3 style="color: #707070; font-size: small; font-weight: bold;">
              {{item.character.name}}
            </h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <!--If Cast info is absent-->
    <div *ngIf="castDetails == ''">
      <h3 class="subtitleText">No Cast Details Available</h3>
    </div>
  </div>
</ion-content>
