ion-content {
  background-color: blue !important;
}

.headingText {
  padding-left: 20px;
  color: #fff351;
  font-size: x-large !important;
  font-weight: bold;
}

.subtitleText {
  padding-left: 20px;
  color: #929292;
  font-style: italic;
  font-size: medium;
  margin-top: 5px !important;
}
