<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ query | uppercase }}
    </ion-title>
    <ion-icon button (click)="search()" class="searchIcon" slot="end" name="search"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <!--
  ****************************************************************
    Header with title and Logo-refresh button
  *****************************************************************
  -->

  <ion-header collapse="condense">
    <ion-toolbar>
      <img button (click)="onClickHomeButton()" class="catchUpLogo" src="../../assets/catchUp.png" />
      <ion-icon button (click)="search()" class="searchIcon" slot="end" name="search"></ion-icon>
    </ion-toolbar>
  </ion-header>


  <!--
  ****************************************************************
    Suggestions Section
  *****************************************************************
  -->

  <div class="sectionHeading" style="font-size: x-large;">Suggestions</div>
  <ion-slides mode="ios" [options]="randomConfig" style="padding-bottom: 15px;">
    <ion-slide button *ngFor="let item of random" (click)="openNextPage($event, item)" style="padding-right: 10px;">
      <div>
        <div>
          <img class="randomImage" [src]="item.image.medium">
        </div>
        <div class="randomTitle">{{item.name}}</div>

        <!--
            ***********************************************************************************************************
            Rating ngIf Section
            ***********************************************************************************************************
          -->

        <div *ngIf="item.rating.average == null" class="randomSuggestionTitle" style="color: rgb(99, 99, 99);"> ☆☆☆☆☆
          -</div>
        <div ng-if="item.rating != null">
          <div *ngIf="item.rating.average > 1 && item.rating.average <3 " class="randomSuggestionTitle">★☆☆☆☆
            {{item.rating.average}} </div>
          <div *ngIf="item.rating.average >= 3 && item.rating.average <6" class="randomSuggestionTitle">★★☆☆☆
            {{item.rating.average}} </div>
          <div *ngIf="item.rating.average >= 6 && item.rating.average <9" class="randomSuggestionTitle">★★★☆☆
            {{item.rating.average}} </div>
          <div *ngIf="item.rating.average >= 9 && item.rating.average <9.2" class="randomSuggestionTitle">★★★★☆
            {{item.rating.average}} </div>
          <div *ngIf="item.rating.average >= 9.2" class="randomSuggestionTitle">★★★★☆ {{item.rating.average}} </div>
        </div>
        <div class="randomLanguage">{{item.language}}</div>
      </div>
    </ion-slide>
  </ion-slides>



  <!--
    ********************************************************************************************
    Genre Selector
    ********************************************************************************************
  -->

  <div class="sectionHeading" style="padding-bottom: 15px;">My Categories</div>
  <ion-slides class="genreSlides" [options]="genreConfig">
    <ion-slide style="margin-left: 15px;" (click)="genreSelector($event, item)" *ngFor="let item of genre">
      <div><img class="genreImage" [src]="item.image" /></div>
      <!-- <div class="genreOverlay"><img /></div> -->
      <div class="genreTitle">{{item.name}}</div>
    </ion-slide>
  </ion-slides>

  <!--
      **********************************************************************************************
      Top Rated Section
      **********************************************************************************************
    -->

  <div class="sectionHeading" style="font-size: x-large;">Top Rated</div>
  <ion-list>
    <ion-item (click)="openNextPage($event, item)" *ngFor="let item of randomPlannerList">
      <div *ngIf="item !== undefined">
        <div class="listTemplate"></div>
        <div *ngIf="item.image == null">
          <div>
            <img class="listImg" style="border-radius: 20px;" src="../../assets/images/broken_link.png" />
          </div>
        </div>
        <div *ngIf="item.image != null">
          <img class="listImg" style="border-radius: 20px;" [src]="item.image.medium" />
        </div>
        <div class="listTitle">{{item.name}}</div>
        <ion-chip class="listLanguage" mode="ios">
          <ion-icon style="padding-left: 10px; color: white;" name="language"></ion-icon>
          <ion-label style="padding-left: 10px; padding-right: 10px;">
            {{item.language}}
          </ion-label>
        </ion-chip>


        <div *ngIf="item.rating.average == null" style="color: rgb(99, 99, 99);"> ☆☆☆☆☆-</div>
        <div ng-if="item.rating != null">

          <ion-chip *ngIf="item.rating.average > 1 && item.rating.average <3 " class="listRating"
            style="background-color: brown !important;" mode="ios">
            <div>★☆☆☆☆
              {{item.rating.average}} </div>
          </ion-chip>

          <ion-chip *ngIf="item.rating.average >= 5 && item.rating.average <7" class="listRating"
            style="background-color: rgb(255, 242, 62) !important;" mode="ios">
            <div>★★★☆☆
              {{item.rating.average}} </div>
          </ion-chip>

          <ion-chip *ngIf="item.rating.average >= 7 && item.rating.average <9" class="listRating"
            style="background-color: rgb(62, 255, 88) !important;" mode="ios">
            <div>★★★★☆
              {{item.rating.average}} </div>
          </ion-chip>

          <ion-chip *ngIf="item.rating.average >= 9" class="listRating"
            style="background-color: rgb(62, 255, 88) !important;" mode="ios">
            <div>★★★★☆ {{item.rating.average}} </div>
          </ion-chip>
        </div>

      </div>
    </ion-item>
  </ion-list>
</ion-content>