<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ query | uppercase }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--Header with title and refresh button-->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Shows</ion-title>
      <ion-button slot="end" fill="clear" (click)="onClickHomeButton()">
        <ion-icon slot="icon-only" name="refresh-outline" style="color: white;"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <div style="background-color: #000000 !important;">
    <!--Searchbar-->
    <div>
      <ion-searchbar animated showCancelButton="focus" cancelButtonText="Cancel" placeholder="Search"
        (search)="getDataBySearch($event.target.value)" ng-model="query"></ion-searchbar>
    </div>

    <!--Search For Text show up-->
    <div>
      <ion-text>
        <div *ngIf="hideSearch">
          <h6 style="margin-left: 20px;"> </h6>
        </div>
        <div *ngIf="hideSearch">
          <h6 style="margin-left: 20px;">
            Search for: {{ query | uppercase }}
          </h6>
        </div>
      </ion-text>
    </div>

    <!--  Ion List for search reseults   -->
    <ion-list *ngIf="resultsList">
      <ion-item (click)="openShowDetails($event, item)" *ngFor="let item of bySearchResult">

        <!--  Ion List Header   -->
        <ion-avatar slot="start"><img [src]="item.show.image.original" /></ion-avatar>
        <h2 slot="end" class="rating" *ngIf="item.show.rating.average == null">--/10</h2>
        <h2 slot="end" class="rating" *ngIf="item.show.rating.average != null">{{item.show.rating.average}}/10</h2>

        <ion-label>
          <h1>{{item.show.name}}</h1>
          <h3>{{ item.show.language }} <br />{{ item.show.genres }}</h3>
          <div>
            <div *ngIf="item.show.status === 'Running'" class="run">{{ item.show.status }} <br /></div>
            <div *ngIf="item.show.status === 'Ended'" class="ended">{{ item.show.status }} <br /></div>
            <div *ngIf="item.show.status === 'In Development'" class="inDev">{{ item.show.status }} <br /></div>
            <div
              *ngIf="item.show.status != 'Running' && item.show.status !=  'Ended' && item.show.status !=  'In Development'"
              class="otherStatus">
              {{ item.show.status }} <br /></div>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>

    <!--Cards to generate random shows-->
    <div style="background-color: #370d5765;">
      <div class="pageHeadings" style="color: #8f59b8; padding-top: 25px;">Random Suggestion</div>

      <ion-slides [options]="randomConfig" style="padding-bottom: 15px;">

        <ion-slide>
          <ion-card button>
            <img class="randomCardImage" src="../../assets/images/showMore.jpg" />
            <ion-card-content style="background-color: #370d57;">
              <div class="randomCardTitle">Suggestions</div>
            </ion-card-content>
          </ion-card>
        </ion-slide>


        <ion-slide *ngFor="let item of random">
          <ion-card button (click)="launchFromHome($event, item)">
            <div><img class="randomCardImage" [src]="item.image.medium" /></div>
            <ion-card-content style="background-color: #370d57; width: 145px; text-align: center; height: 58px;">
              <div style="padding: auto;">
                <div class="randomCardTitle">{{item.name}}</div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-slide>


        <ion-slide>
          <ion-card button>
            <img class="randomCardImage" src="../../assets/images/background.jpg" />
            <ion-card-content style="background-color: #370d57;">
              <div class="randomCardTitle">Click For More</div>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>

    <!--Genre Selector-->
    <ion-slides class="genreSlides" [options]="genreConfig">
      <ion-slide style="margin-left: 15px;" (click)="genreSelector($event, item)" *ngFor="let item of genre">
        <div><img class="genreImage" [src]="item.image" /></div>
        <div class="genreOverlay"><img /></div>
        <div class="genreTitle">{{item.name}}</div>
      </ion-slide>
    </ion-slides>


    <div>Top Rated</div>

    <!--Top Rated Section-->
    <ion-list>

      <ion-item button style="padding-top: 25px; " (click)="launchFromHome($event, item)"
        *ngFor="let item of randomPlannerList">
        <div *ngIf="item !== undefined">
          <div class="listTemplate"></div>
          <div class="listBg"><img /></div>
          <div *ngIf="item.image == null">
            <div>
              <img class="listImg" style="border-radius: 20px;" src="../../assets/images/broken_link.png" />
            </div>
          </div>
          <div *ngIf="item.image != null"><img class="listImg" style="border-radius: 20px;" [src]="item.image.medium" />
          </div>
          <div class="listTitle">{{item.name}}</div>
          <div *ngIf="item.rating.average == null" class="listRating">★ --</div>
          <div *ngIf="item.rating.average !=null" class="listRating">★ {{item.rating.average}}</div>
          <div class="listSubtitle">{{item.genres}}</div>
        </div>
      </ion-item>
    </ion-list>

  </div>
</ion-content>