#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

h1 {
  color: #ffb005;
  font-size: large;
  font-weight: bold;
}
h3 {
  font-size: small;
}

.catchUpLogo{
  width: 200px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.searchIcon{
width: 35px;
height: 35px;
padding-right: 15px;
padding-bottom: 10px;
}

.sectionHeading{
  padding: 20px 0px 40px 25px; 
  font-size: x-large; 
  font-weight: bold;
}



/* 
*********************************************************************************
---------------------------------------------------------------------------------
Random Suggestions CSS Part
---------------------------------------------------------------------------------
*********************************************************************************
*/

.randomSuggestionTitle{
  text-align: left; 
  padding: 0px 0px 0px 15px; 
  color: yellow;
}

.randomTitle{
  text-align: left; 
  padding: 10px 10px 0px 15px; 
  font-size: medium; 
  font-weight: bold;
}

.randomImage{
  width: 270px; 
  height: 370px; 
  border-radius: 20px;
}

.randomLanguage{
  text-align: left; 
  padding: 0px 0px 15px 15px; 
  font-style: italic; 
  color: rgb(83, 83, 83); 
  font-size: small;
}


/*
****************************************************************************
----------------------------------------------------------------------------
Genre Section
----------------------------------------------------------------------------
****************************************************************************
*/

.genreSlides {
  padding-top: 25px;
  padding-bottom: 25px;
}

.genreImage {
  width: 200px;
  height: 90px;
  z-index: -1;
  border-radius: 10px;
}

.genreOverlay {
  width: 200px;
  height: 90px;
  position: absolute;
  text-align: center;
  margin: auto;
  // width: 100%;
  // height: 100%;
  z-index: 0;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  display: block;
  background-color: #ffa60067;
  opacity: 0.5;
  z-index: 0;
  border-radius: 10px;
}

.genreTitle {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 35px;
  z-index: 1;
  font-weight: bold;
  color: #ffffff;
}

.listTemplate {
  width: 373px;
  height: 200px;
}


/*
****************************************************************************
----------------------------------------------------------------------------
Top Rated Lists
----------------------------------------------------------------------------
****************************************************************************
*/


.listImg {
  position: absolute;
  width: 105px;
  height: 150px;
  min-height: 180px;
  left: 25px;
  bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.listTitle {
  position: absolute;
  left: 190px;
  padding-right: 25px;
  padding-bottom: 10px;
  top: 40px;
  font-weight: bold;
  font-size: medium;
}

.listLanguage {
  position: absolute;
  left: 190px;
  top: 100px;
  color: white;
  font-size: small;
}

.listRating {
  position: absolute;
  left: 190px;
  top: 140px;
  padding-right: 15px;
  color: black;
  background-color: #d4af37;
  font-weight: normal;
}


