#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

h1 {
  color: #ffb005;
  font-size: large;
  font-weight: bold;
}
h3 {
  font-size: small;
}

.green {
  color: green;
}
.red {
  color: red;
}

.status {
  color: #646464;
  font-style: italic;
  padding-top: 5px;
  font-size: small;
}

.statusR {
  color: #9aff57;
}

.statusE {
  color: #ff5757;
}

.rating {
  color: #d1cea0;
  font-size: small;
  font-weight: bold;
}
